;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies [[re-frame "1.1.1"]
                [re-graph "0.1.14"]
                [metosin/reitit "0.5.10"]
                [cljsjs/firebase "7.5.0-0"]
                [funcool/cuerdas "2.2.0"]
                ]
 :nrepl {:port 55555}
 :dev-http {8080 "public/"}
 :builds {:app {:output-dir "public/js"
                :asset-path "/public/js"
                :target :browser
                ;; :js-options {:entry-keys ["module" "browser" "main"]}
                :modules {:curator {:init-fn curator/init}}}}}
